html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#story-container img {
	max-width: 100%;
	cursor: pointer;
}


/**** IMAGE POP UP - START ****/

.popupContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  overflow: auto;
	z-index: 1000;
}
.popupContainer .popUpBackground {
  transition: all 0.3s ease-in-out;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
.popupContainer .popUpBackground.active {
  background-color: rgba(0, 0, 0, 0.4);
}
.popupContainer .popImage {
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
}

/**** IMAGE POP UP - END****/


/**** MENU - START****/
nav {
	background-color: rgb(207 75 75);
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	height: 45px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1100;
}

.inner {
	max-width: 980px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	height: 100%;
}

.mobile-icon {
	width: 25px;
	height: 14px;
	position: relative;
	cursor: pointer;
}

.mobile-icon:after,
.mobile-icon:before,
.middle-line {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: all 0.4s;
	transform-origin: center;
}

.mobile-icon:before,
.middle-line {
	top: 0;
}

.mobile-icon:after,
.middle-line {
	bottom: 0;
}

.mobile-icon:before {
	width: 66%;
}

.mobile-icon:after {
	width: 33%;
}

.middle-line {
	margin: auto;
}

.mobile-icon:hover:before,
.mobile-icon:hover:after,
.mobile-icon.active:before,
.mobile-icon.active:after,
.mobile-icon.active .middle-line {
	width: 100%;
}

.mobile-icon.active:before,
.mobile-icon.active:after {
	top: 50%;
	transform: rotate(-45deg);
}

.mobile-icon.active .middle-line {
	transform: rotate(45deg);
}

.navbar-list {
	display: none;
	width: 100%;
	justify-content: space-between;
	margin: 0;
	padding: 0 40px;
	z-index: 9999;
}

.navbar-list.mobile {
	background-color: rgb(207 75 75 / 80%);
	position: fixed;
	display: block;
	height: calc(100% - 45px);
	bottom: 0;
	left: 0;
}

.navbar-list li {
	list-style-type: none;
	position: relative;
}

li .active {
	border: 1px solid;
	border-radius: 2px;
}

.navbar-list a {
	color: #fff;
	text-decoration: none;
	display: flex;
	height: 45px;
	align-items: center;
	padding: 0 10px;
	font-size: 1.25em;
}

@media only screen and (min-width: 767px) {
    .navbar-list li.active {
        border: 1px solid;
        border-radius: 2px;
    }

    .navbar-list li:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #424245;
    }

	.mobile-icon {
		display: none;
	}

	.navbar-list {
		display: flex;
		padding: 0;
	}

	.navbar-list a {
		display: inline-flex;
	}

    .navbar-list .dropdown {
        color: #fff;
        text-decoration: none;
        display: flex;
        height: 45px;
        align-items: center;
        padding: 0 10px;
        font-size: 1.25em;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 40px;
        left: 10px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding-top: 20px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 1em;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-list li:before {
        display: none;
    }

    .dropdown-content {
        padding-left: 25px;
    }

    .navbar-list .dropdown .label {
        color: #fff;
        text-decoration: none;
        align-items: center;
        padding: 0 10px;
        font-size: 1.25em;
    }

    .dropdown-content a {
        float: none;
        color: #fff;
        text-decoration: none;
        text-align: left;
        font-size: 1em;
    }

    .navbar-list li {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        font-size: 1.25em;
    }

}

/**** MENU - END****/

@media only screen and (min-width: 840px) {
	.map-container {
		position: fixed;
		width: 65% !important;
	}
}

.mdc-layout-grid {
	margin: 24px auto !important;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 150px !important;
    height: 50px; !important;
}

/**** LAYER CONTROL ****/
a.leaflet-control-layers-toggle {
    background-position-x: 10%;
}

.leaflet-control-layers-toggle:after {
    content: 'Add Layers';
    color: black;
    display: block;
    font-size: 18px;
    margin-left: 35px;
    padding-top: 8px;
}
/**** LAYER CONTROL ****/

/**** GRID ****/
.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    grid-gap: 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    grid-gap: 1.2rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 22%);
    grid-gap: 1rem;
}

@media only screen and (max-width: 767px) {
    .grid-2 {
        grid-template-columns: repeat(auto-fill, 90%);
        grid-gap: 1rem;
    }

    .grid-3 {
        grid-template-columns: repeat(auto-fill, 90%);
        grid-gap: 1rem;
    }

    .grid-4 {
        grid-template-columns: repeat(auto-fill, 90%);
        grid-gap: 1rem;
    }
}

.item {
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 /10%);
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    min-height: 30vh;
}

.item a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item img {
    display: block;
    max-width: 100%;
    min-width: 80%;
    max-height: 80%;
    margin: auto;
}

.item .image-text {
    display: block;
    padding: 10px;
}

/**** GRID ****/
