.content {
  max-width: 50%;
  margin:60px auto;
  padding:0 10px;
  color:#444;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .content {
    max-width: 90%;
    text-align: inherit;
  }
}

h1,h2,h3{
  line-height:1.2;
}

img {
  max-width: 100%;
  object-fit: scale-down;
}

.twoPerRow {
  display: inline-block;
  max-width: 40%;
  padding: 0 .5em;
}

.twoPerRowOneThird {
  display: inline-block;
  max-width: 20%;
  padding: 0 .5em;
}

.twoPerRowTwoThirds {
  display: inline-block;
  max-width: 60%;
  padding: 0 .5em;
}

.threePerRow {
  display: inline-block;
  max-width: 25%;
  padding: 0 .5em;
}

.static-image {
  display: flex;
  margin: auto;
  justify-content: center;
}

.citation {
  font-size: 0.75em;
}

.team-profile-image {
  height: 370px;
}

.redlining-text {
  color: #FF0000;
}

.redlining-section {
  background-color: rgba(255, 0, 0, .5);
}

.buffer {
    height: 10px;
}

.header-buffer {
    height: 4em;
}

.header-buffer-half {
    height: 2em;
}

.health-text {
  color: #BDA55D;
}

.health-section {
  background-color: #FFE485;
}

.greenspace-text {
  color: #99FF99;
}

.greenspace-section {
  background-color: #99FF99;
}

.outlined {
  margin: 1em 0;
  border: 1px solid black;
  text-align: center;
}

.p-with-color {
  padding: 1em .5em;
}

/**** NYC Health Image Overlap - Start ****/
.nyc-health-img {
  padding: 1em 0;
}

@media only screen and (min-width: 767px) {
  .nyc-health-img-grid {
    height: 600px;
  }

  .nyc-health-img-container {
    position: relative;
  }

  .nyc-health-img1 {
    position: absolute;
    left: 10px;
  }

  .nyc-health-img2 {
    position: absolute;
    left: 150px;
    top: 150px;
  }

  .nyc-health-img3 {
    position: absolute;
    left: 10px;
    top: 300px;
  }
}

/**** NYC Health Image Overlap - End ****/

.submit-text {
  text-align: center;
}

.street-tree-image {
  max-height: 300px;
}

.jeremy-iframe {
  display: block;
  margin: auto;
  height: 800px;
  width: 90%;
}

/** if the div starts with a p, then it has a margin-block-start of 1em **/
.div-next-to-p {
    margin-top: 1em;
}


input[type=checkbox] {
  display: none;
}

/** image zoom only on desktop **/
@media only screen and (min-width: 767px) {
  .container-zoom img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
  }

  input.zoom3[type=checkbox]:checked ~ label > img {
    transform: scale(3);
    cursor: zoom-out;
  }

  input[type=checkbox]:checked ~ label > img {
    transform: scale(2);
    cursor: zoom-out;
  }
}

.centered-img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.div-with-p {
  padding-right: 1rem;
  padding-left: 1rem;
}

.h3-above-grid {
  padding-left: 1rem;
  margin-bottom: 0rem;
}

.twoPercentPad {
  padding: 0 2%;
}

.oneRemPad {
  padding: 0 1rem;
  margin: 0;
}

/* on mobile, no need to pad as it's only one column */
@media only screen and (min-width: 767px) {
    .uhi-img {
        margin-top: 5rem;
    }

    .full-width {
        width: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
