.content{
  max-width:80%;
  margin:60px auto;
  padding:0 10px;
  color:#444
}

h1,h2,h3{
  line-height:1.2
}

img {
  max-width: 100%;
}

.twoPerRow {
  display: inline-block;
  max-width: 40%;
  padding: 0 .5em;
}

.twoPerRowOneThird {
  display: inline-block;
  max-width: 20%;
  padding: 0 .5em;
}

.twoPerRowTwoThirds {
  display: inline-block;
  max-width: 60%;
  padding: 0 .5em;
}

.threePerRow {
  display: inline-block;
  max-width: 25%;
  padding: 0 .5em;
}

.static-image {
  display: flex;
  margin: auto;
  justify-content: center;
}

.citation {
  font-size: 0.75em;
}

.team-profile-image {
  height: 370px;
}

.redlining-text {
  color: #FF0000;
}

.redlining-section {
  background-color: rgba(255, 0, 0, .5);
}

.buffer {
    height: 10px;
}

.header-buffer {
    height: 4em;
}

.header-buffer-half {
    height: 2em;
}

.health-text {
  color: #BDA55D;
}

.health-section {
  background-color: #FFE485;
}

.greenspace-text {
  color: #99FF99;
}

.greenspace-section {
  background-color: #99FF99;
}

.outlined {
  margin: 1em 0;
  border: 1px solid black;
  text-align: center;
}

.p-with-color {
  padding: 1em 0;
}

.nyc-health-img {
  height: 300px;
  padding: 1em 0;
}

.submit-text {
  text-align: center;
}
